input {
  padding: 5px 1rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.4rem 1rem;
}

label {
  font-size: 1.6rem;
}

form {
  padding: 1rem 2rem;
  border: 1px solid black;
  margin-top: 1rem;
  border-radius: 1rem;
}
